*{margin:0;padding:0}
a{
    text-decoration: none;
    color:#666;
}
.wrapper{
    background:transparent url('../picture/amg.jpg')no-repeat center;
    background-size:cover;
    height:800px;
    overflow: hidden;
}
.wrapper-inner{
    width:400px;
    height:677px;
    background:rgba(240,255,255,0.9);
    margin:60px auto;
    border-radius: 5px;
    color:#666;
}
.page-header{
    width:100%;
    height:50px;
    line-height: 50px;
    border-bottom:1px solid #aaa;
    padding-left:20px;
    padding-top:5px;
}
.page-header h2{
    background: url('../picture/denglu.png') no-repeat;
    background-size: 8%;
    padding-left:35px;
}
.page-content{
    width:100%;
    height:600px;
    background:#eee;
    border-bottom:1px solid #aaa;
    font-size:12px;
}
.page-bottom span{
    font-size:12px;
    font-style: italic
}
.page-bottom-s1{
    margin-left:20px;
}
#ciam-description{
    width:100%;
    height:30px;
    line-height: 30px;
    border-bottom:1px solid #aaa;
    padding-left:20px;
}
#page-contents{
    width:340px;
    height:530px;
    margin:15px auto;
}
.form-group{
    height:38px;
    margin-top:10px;
}
.input-name{
    width:100%;
}
.form-group-select{
    width:100%;
}
.form-group-select:hover,.form-group-op:hover{
    cursor: pointer;
}
.form-group-op{
    width:15%;
}
.form-group-in{
    width:85%;
    margin-bottom: 1px;
    margin-left:-4px;
  }
.form-goup-tel{
    width:15%;
    height:20px;
    line-height: 20px;
    text-align:center;
    background:#aaa;
    float: left;
}
.form-group-tels{
    width:85%;
    float:left;
}
.form-group-yz{
    height:170px;
    margin-top:10px;
    background:#aaa;
}
.form-group-input{
    width:100%;
}
.page-agree{
    width:100%;
    height:25px;
    border-bottom:1px solid#aaa;
}
.page-agree{
    margin-top:5px;
}
.rigister-botton{
    width:100%;
    height:25px;
    background-image:linear-gradient(#00adef,#0074a0);
    border:0;
    margin-top:15px;
    border-radius:2px;
    color:#fff;
}